.dropdown-menu {
  position: absolute;
  left: -650% ;
  border: 1px solid red;
}
.dropdown-toggle{
  color: #fff;
}
.navbarMenu {
  border-radius: 30px ;
  background: rgba(255, 255, 255, 0.05);
}
.navbar-brand,
.basic-nav-dropdown {
  color: #fff ;
}
.dropdown-item {
  color: black ;
}
container {
  margin-bottom: 100px;
}

.formSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}
.formSearch input {
  width: 50%;
  margin-right: 20px;
}
.formSearch button {
  padding: 12px ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userContainer {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  padding: 30px ;
}
.userContainer .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.userContainer .row .left,
.userContainer .row .right {
  width: 50%;
}
.userContainer .row .left {
  display: flex;
  align-items: center;
}
.userContainer .row .left img {
  margin-right: 20px;
  margin-top: 0px;
}
.userContainer .row .left h3,
.userContainer .row .right h3 {
  color: #fff;
  margin-bottom: 0px ;
}
.userContainer .row .left p,
.userContainer .row .right p,
p {
  color: rgb(183, 178, 178);
  margin-bottom: 0px ;
}
.userContainer .row .right {
  text-align: right;
}
.post {
  display: flex;
  margin-bottom: 20px;
}
.post img {
  margin-right: 20px;
}

.container .nav-tabs {
  display: flex ;
  align-items: center ;
  justify-content: space-between ;
  width: 100% ;
  border-bottom: none ;
}
.container .nav-item {
  width: 30% ;
  display: flex ;
  align-items: center ;
  justify-content: center ;

}
.container .nav-item a {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #0e6dfd ;
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
}
.container .tab-pane {
  padding: 40px 0px;
  border-top: none ;
}

@media only screen and (max-width: 800px) {
  .container .tab-pane {
    padding: 20px 0px;
  }
  .formSearch {
    margin-bottom: 0px ;
    width: 100%;
    flex-wrap: wrap;
  }
  .formSearch  input{
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .formSearch button {
    padding: 5px ;
    width: 100%;
    margin-right: 0px;
  }
  .formSearch input {
    width: 100%;
  }
  .formSearch {
    margin: 20px 0px;
  }
  .userContainer {
    padding:20px 10px;
  }
  .userContainer .row {
    margin-bottom: 20px;
  }
  .userContainer .row .left h3,
  .userContainer .row .right h3 {
    font-size: 15px;
  }
  .userContainer .row .left p,
  .userContainer .row .right p {
    font-size: 10px;
  }
  button{
    padding: 4px;
    margin-bottom: 10px;
  }
  .userContainer .row .left img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  .post{
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .post img{
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
  }
  .container .nav-item{
    width: 48%;
    margin-bottom: 10px;
  }
}
